build/**
.dart_tool/
.idea/
.vscode/
**/android/.idea/
**/android/gradle/

.DS_Store
.packages
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock
.env
*.log
.firebaserc
firestore.indexes.json
firestore.rules
firebase.json
.runtimeconfig.json
storage.rules